img {
    width: 100%;
    height: 100%;
    z-index: 0;
}

.btnNewGame {
    position: absolute;
    top: 80%;
    left: 75%;
    width: 200px;
    height: 60px;
    font-size: 30px;
    background-color: rgba(129, 230, 230, 0.342);
    color: aliceblue;
}

.btnNewGame:hover {
    background-color: rgba(255, 255, 255, 0.335);
    color: rgba(78, 226, 226, 0.822);
}

.btnInstruction:hover {
    background-color: rgba(255, 255, 255, 0.335);
    color: rgba(78, 226, 226, 0.822);
}

.btnInstruction {
    position: absolute;
    top: 90%;
    left: 75%;
    width: 200px;
    height: 60px;
    font-size: 30px;
    background-color: rgba(129, 230, 230, 0.342);
    color: aliceblue;
}

.create-Captain{
    position: relative;
    align-content: center;
    text-align: center;
}
.captainHead{
    font-size: 60px;
}
.headCreateCaptain p {
    font-size: 25px;
    margin-bottom: 5px;
}
.headCreateCaptain input {
    width: 200px;
    height: 20px;
}
.chossePlanet input {
    width: 80px;
    height: 15px;
    
}
.homePlanet{
    height: 350px;
    width: 250px;
    display: inline-block;
}